/*start colors*/
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
.bg-white {
  background-color: white;
}
.bg-black {
  background-color: black;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-blue-alt {
  background-color: var(--blue-alt-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-grey {
  background-color: var(--grey-color);
}
.c-white {
  color: white;
}
.c-black {
  color: black;
}
.c-blue {
  color: var(--blue-color);
}
.c-blue-alt {
  color: var(--blue-alt-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}
.c-grey {
  color: var(--grey-color);
}
/*end colors*/

/*start positioning*/
.w-fit {
  width: fit-content;
}
.d-block {
  display: block;
}
.d-grid {
  display: grid;
}
.d-flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-evenly {
  display: flex;
  justify-content: space-evenly;
}
.flex-1 {
  flex-grow: 1;
}
/*end positioning*/

/*start font*/
.fw-500 {
  font-weight: 500;
}
.fs-15 {
  font-size: 15px;
}
/*end font*/

/*start media specific*/
@media (max-width: 768px) {
  .hide-768 {
    display: none;
  }
}
/*end media specific*/

.btn-1 {
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 14px;
}
