/*start global rules*/
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --widget-radius: 10px;
}
/*end global rules*/

/*start grid settings*/
.projects {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}
@media (max-width: 768px) {
  .projects {
    -ms-grid-columns: minmax(200px, 1fr);
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    padding: 10px;
  }
}
/*end grid settings*/

.box {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
  position: relative;
}
.box .abs {
  position: absolute;
  font-size: 13px;
  right: 10px;
  top: 10px;
}
.box > p.c-grey:not(.abs) {
  margin: 10px 0;
  font-size: 15px;
}
.box .team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 20px;
}
@media (max-width: 768px) {
  .box .team {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.box .team a:hover {
  z-index: 1;
}
.box .team img {
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.box .team a:not(:last-child) img {
  margin-right: -15px;
}
.box .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 5px;
  padding: 15px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
@media (max-width: 768px) {
  .box .skills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
  }
}
.box .skills p {
  font-size: 13px;
  border-radius: 6px;
  background-color: #eee;
  padding: 3px 8px;
}
.box .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}
@media (max-width: 768px) {
  .box .progress {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}
.box .progress span {
  display: block;
  height: 7px;
  border-radius: 6px;
}
.box .progress .bar {
  width: 250px;
  background-color: #eee;
}
