/*start global rules*/
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --widget-radius: 10px;
}
.toggle-switch {
  appearance: none;
  position: relative;
  min-width: 70px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.toggle-switch:checked {
  background-color: var(--blue-color);
}
.toggle-switch::before {
  font-family: FontAwesome;
  content: "\f00d";
  position: absolute;
  left: 5px;
  top: 5px;
  height: 20px;
  width: 20px;
  background-color: white;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition-duration: 0.3s;
  font-size: 15px;
}
.toggle-switch:checked::before {
  color: var(--blue-color);
  content: "\f00c";
  left: 45px;
}
/*end global rules*/

/*start grid settings*/
.settings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}
@media (max-width: 768px) {
  .settings {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    padding: 10px;
  }
}
/*end grid settings*/

/*start site-control widget*/
.site-control {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.site-control > p.c-grey {
  font-size: 14px;
  margin: 10px 0 15px;
}
.site-control > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.site-control > div p.c-grey {
  font-size: 14px;
  margin-top: 5px;
}
.site-control textarea {
  resize: none;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}
/*end site-control widget*/

/*start general-info widget*/
.general-info {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.general-info p.c-grey {
  margin: 15px 0 10px;
  font-size: 15px;
}
.general-info label,
.general-info input {
  display: block;
}
.general-info label {
  color: var(--grey-color);
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.general-info input {
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.general-info div:has(> a) {
  display: flex;
  gap: 15px;
  align-items: center;
}
.general-info input[disabled] {
  background-color: #f0f4f8;
  color: #aaa;
}
.general-info a {
  color: var(--blue-color);
}
/*end general-info widget*/

/*start security-info widget*/
.security-info {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.security-info > p {
  margin-top: 15px;
  font-size: 15px;
}
.security-info > div {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.security-info > div:nth-of-type(2) {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.security-info > div p.c-grey {
  font-size: 13px;
  margin-top: 7px;
}
.security-info a {
  font-size: 15px;
}
.security-info > div:last-of-type a {
  background-color: #eee;
  color: black;
}
/*end security-info widget*/

/*start social-info widget*/
.social-info {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.social-info p.c-grey {
  margin: 10px 0 20px;
  font-size: 15px;
}
.social-info .content {
  display: grid;
  gap: 15px;
}
.social-info label {
  border-radius: 6px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  display: flex;
}
.social-info i {
  padding: 10px 0;
  width: 40px;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-color);
}
.social-info input {
  border: none;
  background-color: transparent;
  padding: 10px;
}
/*end social-info widget*/
