/*start global rules*/
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --widget-radius: 10px;
}
.toggle-switch {
  appearance: none;
  position: relative;
  min-width: 70px;
  height: 30px;
  background-color: #ccc;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}
.toggle-switch:checked {
  background-color: var(--blue-color);
}
.toggle-switch::before {
  font-family: FontAwesome;
  content: "\f00d";
  position: absolute;
  left: 5px;
  top: 5px;
  height: 20px;
  width: 20px;
  background-color: white;
  z-index: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #aaa;
  transition-duration: 0.3s;
  font-size: 15px;
}
.toggle-switch:checked::before {
  color: var(--blue-color);
  content: "\f00c";
  left: 45px;
}
.btn {
  display: block;
  width: fit-content;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 14px;
  transition: background-color 0.3s;
}
.btn:focus {
  background-color: var(--blue-alt-color);
}
/*end global rules*/

/*start grid settings*/
.settings {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  gap: 20px;
  padding: 20px;
}
@media (max-width: 768px) {
  .settings {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    padding: 10px;
  }
}
/*end grid settings*/

/*start site-control widget*/
.site-control {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.site-control > p.c-grey {
  font-size: 14px;
  margin: 10px 0 15px;
}
.site-control > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.site-control > div p.c-grey {
  font-size: 14px;
  margin-top: 5px;
}
.site-control textarea {
  resize: none;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
}
/*end site-control widget*/

/*start general-info widget*/
.general-info {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.general-info p.c-grey {
  margin: 15px 0 10px;
  font-size: 15px;
}
.general-info label,
.general-info input {
  display: block;
}
.general-info label {
  color: var(--grey-color);
  font-size: 15px;
  margin-bottom: 5px;
  margin-top: 15px;
}
.general-info input {
  border-radius: 6px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}
.general-info div:has(> a) {
  display: flex;
  gap: 15px;
  align-items: center;
}
.general-info input[disabled] {
  background-color: #f0f4f8;
  color: #aaa;
}
.general-info a {
  color: var(--blue-color);
}
/*end general-info widget*/

/*start security-info widget*/
.security-info {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.security-info > p {
  margin-top: 15px;
  font-size: 15px;
}
.security-info > div {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.security-info > div:nth-of-type(2) {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.security-info > div p.c-grey {
  font-size: 13px;
  margin-top: 7px;
}
.security-info a {
  font-size: 15px;
}
.security-info > div:first-of-type a {
  color: white;
}
.security-info > div:last-of-type a {
  background-color: #eee;
}
/*end security-info widget*/

/*start social-info widget*/
.social-info {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.social-info p.c-grey {
  margin: 10px 0 20px;
  font-size: 15px;
}
.social-info .content {
  display: grid;
  gap: 15px;
}
.social-info label {
  border-radius: 6px;
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  display: flex;
}
.social-info i {
  padding: 10px 0;
  width: 40px;
  border-right: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-color);
}
.social-info input {
  border: none;
  background-color: transparent;
  padding: 10px;
}
/*end social-info widget*/

/*start widgets-control widget*/
.widgets-control {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.widgets-control p.c-grey {
  margin: 10px 0 15px;
  font-size: 15px;
}
.widgets-control ul {
  display: grid;
  gap: 15px;
  font-size: 18px;
  margin-left: 8px;
}
.widgets-control input {
  appearance: none;
}
.widgets-control label {
  position: relative;
  cursor: pointer;
  margin-left: 25px;
}
.widgets-control label::before,
.widgets-control label::after {
  position: absolute;
  top: 50%;
  left: -30px;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  box-sizing: border-box;
}
.widgets-control label::before {
  content: "";
  transform: translateY(-50%);
  border: 2px solid var(--grey-color);
  transition-duration: 0.3s;
}
.widgets-control label:hover::before {
  border-color: var(--blue-alt-color);
}
.widgets-control label::after {
  font-family: FontAwesome;
  content: "\f00c";
  transform: translateY(-50%) scale(0) rotate(360deg);
  background-color: var(--blue-color);
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition-duration: 0.3s;
}
.widgets-control input:checked + label::after {
  transform: translateY(-50%) scale(1);
}
/*end widgets-control widget*/

/*start backup-manager widget*/
.backup-manager {
  background-color: white;
  border-radius: var(--widget-radius);
  padding: 20px;
}
.backup-manager p.c-grey {
  margin-top: 10px;
  font-size: 15px;
}
.backup-manager .period-group {
  display: grid;
  gap: 15px;
  padding: 15px 0 20px;
  border-bottom: 1px solid #eee;
  padding-left: 42px;
}
.backup-manager .period-group label {
  position: relative;
  cursor: pointer;
}
.backup-manager .period-group label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -32px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--grey-color);
  box-sizing: border-box;
  transition-duration: 0.3s;
}
.backup-manager .period-group label:hover::before,
.backup-manager .period-group label:has(input:checked)::before {
  border-color: var(--blue-color);
}
.backup-manager .period-group label::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(0);
  left: -28px;
  width: 12.5px;
  height: 12.5px;
  border-radius: 50%;
  background-color: var(--blue-color);
  transition-duration: 0.3s;
}
.backup-manager .period-group label:has(input:checked)::after {
  transform: translateY(-50%) scaleY(1);
}
.backup-manager input {
  display: none;
}
.backup-manager .method-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding-top: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .backup-manager .method-group {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}
.backup-manager .method-group label {
  border-radius: 6px;
  border: 2px solid #ddd;
  padding: 15px;
}
.backup-manager .method-group label {
  cursor: pointer;
}
.backup-manager .method-group label:has(input:checked) {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
.backup-manager .method-group i {
  display: block;
  margin-bottom: 10px;
}
/*end backup-manager widget*/
